:root {
  --font-family-body: "Barlow", "Arial", sans-serif;
  --font-family-fancy: "Fraunces 9pt", "Times New Roman", serif;

  --dark-cyan: #0E8784;
  --light-cyan: #66D2CF;
  --dark-grey-blue: #333D4B;
  --pale-orange: #FDD6BA;
  --light-cream: #FEFCF7;
  --dark-cream: #F4F1EB;
  --grey: #83888F;
  --light-grey: #E2DEDB;
}


/* FONTS */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces9pt-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9pt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2"),
    url("../fonts/Barlow-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 90px;
  font-size: 15px;
  line-height: 25px;
  font-family: var(--font-family-body);
  background-color: var(--light-cream);
  color: var(--dark-grey-blue);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1340px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 15px 30px;
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  line-height: 25px;
  font-family: var(--font-family-fancy);
  font-weight: 900;
  background-color: var(--dark-cyan);
  color: var(--light-cream);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: var(--light-cyan);
}

.button:active {
  opacity: 0.6;
}


/* PAGE */
.page__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page__main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px 40px;
  background-color: var(--light-cream);
}

.site-header__logo {
  flex-shrink: 0;
}

.site-header__logo-img {
  display: block;
}

.site-header__toggler {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.site-header--open .site-header__toggler {
  background-image: url("../img/icon-close.svg");
}

.site-header__sitenav {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: auto;
}

.site-header--open .site-header__sitenav {
  display: block;
}


/* SITENAV */
.sitenav {
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-family-fancy);
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.sitenav__list {
  padding: 40px;
  margin: 0;
  list-style: none;
  text-align: center;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  color: var(--dark-grey-blue);
  text-decoration: none;
}


/* HERO */
.hero {
  padding: 60px 24px;
  margin-bottom: 120px;
  border-radius: 10px;
  background-color: var(--dark-grey-blue);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--light-cream);
  text-align: center;
}

.hero--index {
  background-image: url("../img/hero-index-mobile.jpg");
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1;
  font-family: var(--font-family-fancy);
}

.hero__heading--small {
  font-size: 28px;
}

.hero__text {
  margin: 0;
}

.hero__text:last-of-type:not(:last-child) {
  margin-bottom: 40px;
}


/* PRODUCTS */
.products {
  margin-bottom: 120px;
}

.products__heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 72px;
  font-family: var(--font-family-fancy);
  font-weight: 900;
  text-transform: lowercase;
  text-align: center;
  color: var(--grey);
  background-color: var(--grey);
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products__grid {
  padding-left: 22px;
  padding-right: 22px;
  margin: 0;
  list-style: none;
}

.products__item:not(:last-child) {
  margin-bottom: 48px;
}


/* PRODUCT */
.product {
  text-align: center;
}

.product__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 151px;
  margin-bottom: 24px;
}

.product__name {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--font-family-fancy);
  font-weight: 900;
}

.product__desc {
  margin: 0;
}


@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
  .hero--index {
    background-image: url("../img/hero-index-mobile@2x.jpg");
  }
}


/* MEDIA QUERIES */
@media only screen and (min-width: 375px) {
  .hero {
    padding: 100px 24px;
  }

  .hero__heading {
    font-size: 40px;
  }
}

@media only screen and (min-width: 580px) {
  /* PRODUCTS */
  .products__heading {
    font-size: 72px;
    line-height: 72px;
  }

  .products__grid {
    margin-top: -24px;
  }

  /* PRODUCT */
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .product__img {
    margin-bottom: 0;
    margin-right: 36px;
  }

  .product__info {
    max-width: 55%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin-top: 0;
  }

  /* CONTAINER */
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* SITE-HEADER */
  .site-header {
    position: relative;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
  }

  .site-header__sitenav {
    width: auto;
    height: auto;
  }

  .site-header__logo-img {
    width: 236px;
    height: 26px;
  }

  .site-header__toggler {
    display: none;
  }

  .site-header__sitenav {
    position: static;
    display: block;
  }

  /* SITENAV */
  .sitenav {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family-body);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .sitenav__list {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .sitenav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .sitenav__link {
    color: var(--grey);
  }

  .sitenav__link:hover {
    color: var(--dark-grey-blue);
  }

  /* HERO */
  .hero {
    padding: 104px 60px;
    margin-bottom: 144px;
    text-align: left;
  }

  .hero--index {
    background-image: url("../img/hero-index-tablet.jpg");
  }

  .hero__content {
    max-width: 370px;
  }

  .hero__heading {
    font-size: 48px;
  }

  .hero__heading--small {
    font-size: 32px;
    line-height: 40px;
  }

  /* PRODUCTS */
  .products {
    margin-bottom: 144px;
  }

  .products__heading {
    font-size: 96px;
    line-height: 72px;
  }

  .products__grid {
    margin-top: -56px;
    padding-left: 56px;
    padding-right: 56px;
  }

  .products__item:not(:last-child) {
    margin-bottom: 32px;
  }

  /* PRODUCT */
  .product__img {
    width: 255px;
    height: 193px;
    object-fit: contain;
    object-position: bottom;
  }

  .product__info {
    max-width: 50%;
  }

  .product__name {
    margin-bottom: 24px;
  }


  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    .hero--index {
      background-image: url("../img/hero-index-tablet@2x.jpg");
    }
  }
}

@media only screen and (min-width: 1024px) {
  /* SITE-HEADER */
  .site-header {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  /* HERO */
  .hero {
    margin-bottom: 136px;
  }

  .hero--index {
    background-image: url("../img/hero-index-desktop.jpg");
  }

  .hero__content {
    max-width: 500px;
  }

  .hero__heading {
    margin-bottom: 32px;
    font-size: 72px;
  }

  .hero__heading--small {
    font-size: 40px;
    line-height: 48px;
  }

  .hero__text:last-of-type:not(:last-child) {
    margin-bottom: 56px;
  }

  /* PRODUCTS */
  .products {
    margin-bottom: 200px;
  }

  .products__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }

  .products__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .products__item:not(:last-child) {
    margin-right: 0;
  }

  /* PRODUCT */
  .product {
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }

  .product__img {
    margin-right: 0;
    margin-bottom: 72px;
  }

  .product__info {
    max-width: 100%;
  }

  .product__desc {
    font-size: 16px;
    line-height: 26px;
  }


  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
    .hero--index {
      background-image: url("../img/hero-index-desktop@2x.jpg");
    }
  }
}
